<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ict</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <label style="color: white;">SPORTS APPLICATION</label>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navleft" id="navbarNavAltMarkup">
                <div class="navbar-nav navcon">
                  <a class="nav-link " aria-current="page" routerLink='/home'>Home</a>
                  <a class="nav-link" routerLink='/cricket'>Cricket</a>
                  <a class="nav-link" routerLink='/football'>Football</a>
                  <a class="nav-link" routerLink='/hockey'>Hockey</a>
                </div>
              </div>
            </div>
          </nav>
      </header>
      <section class="home">
        <div class="intro">
          <label style="color: red; align-content: center; padding-left: 45%; ">SPORTS</label>
          <p>Sport refers to a competitive physical activity. Sport is generally recognised as activities based in physical athleticism or physical dexterity. Sports are usually governed by rules to ensure fair competition and consistent adjudication of the winner. Records of performance are often kept and reported in sport news. Sport is a major source of entertainment with spectator sports drawing large crowds and reaching wider audiences through sports broadcasting.</p>
        </div>  </section>
</body>
</html>
